  html {
    overflow: overlay;
    scroll-behavior: smooth;
  }

  a, button, .is-parent {
    transition: 300ms;
  }

  .is-parent:hover {
    transform: translateY(-10px);
  }

  .floating {
    animation: float 6s ease-in-out infinite;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    html { scroll-behavior: auto; }
    a, button, .is-parent { transition: 0ms; }
    .floating { animation: none; }
  }

  .header {
    position: absolute;
    width: 100%;
  }

  .waves {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
  }
  
  .content {
    position: relative;
    height: 0;
    text-align: center;
    background-color: white;
  }
    
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }

  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }

  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }

  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }

  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  .menu {
    position: fixed;
    z-index: 1;
  }

  .menu-list a:hover {
    background-color: #222;
    border-radius: 5px;
  }

  .dropdown-menu > *, .dropdown-item {
    border-color: #363636;
    background-color: #0a0a0a;
    color: #dbdbdb;
  }

  .box {
    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: #0a0a0a;
  }

  .tags-input, .input, .select select, .textarea {
    border-color: #363636;
    background-color: #0a0a0a;
    color: #dbdbdb;
  }

  @media screen and ( orientation: portrait ) {
    .menu { position: static; }
  }
  
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
  }

  @keyframes move-forever {
    0% { transform: translate3d(-90px, 0, 0); }
    100% { transform: translate3d(85px, 0, 0); }
  }

  @keyframes float {
    0% { transform: translatey(0px); }
    50% { transform: translatey(-20px); }
    100% { transform: translatey(0px); }
  }