  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tagsinput@1.0.3/dist/js/bulma-tagsinput.min.js"></script>
<script>BulmaTagsInput.attach();</script>
<script src="/assets/bulma.min.js"></script>