<%- include("partials/header", { bot, user, path, title: `Dashboard | ${guild.name}` }) %>

<%- include("partials/header-dashboard", { alert, guild, selected: null }) %>
      </form>
    </div>
  </div>
</section>

<%- include("partials/footer") %>