<%- include("partials/header", { bot, user, path, title: "Invite Cactie Bot!" }) %>

<div style="height: calc(100% - 69px); display: flex; align-items: center;">
  <div class="d-grid gap-2" style="width: 100%;">
    <h2 style="text-align: center;">Invite Cactie Bot!</h2>
    <h3 style="text-align: center;">The main stable Cactie Bot</h3>
    <br>
    <div class="centered">
      <a class="btn btn-primary text-white" style="text-align: center; margin: 5px;" href="https://cactie.smhsmh.club/invite/discord">Discord Invite</a>
    </div>
    <br>
    <h2 style="text-align: center;">Invite Cactie Dev!</h2>
    <h3 style="text-align: center;">The secondary latest Cactie Bot</h3>
    <br>
    <div class="centered">
      <a class="btn btn-primary text-white" style="text-align: center; margin: 5px;" href="https://cactiedev.smhsmh.club/invite/discord">Discord Invite</a>
      <a class="btn btn-primary text-white" style="text-align: center; margin: 5px;" href="https://cactiedev.smhsmh.club/invite/guilded">Guilded Invite</a>
    </div>
  </div>
</div>

<%- include("partials/footer") %>