<%- include("partials/header", { bot, user, path, title: `Invite ${bot.user.username}!` }) %>

<section class="hero is-fullheight-with-navbar is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Invite Cactie Bot!
      </p>
      <br>
      <p class="subtitle">
        The main stable Cactie Bot
      </p>
      <br>
      <a class="button is-info" href="https://cactie.smhsmh.club/invite/discord">Discord Invite</a>
      <br>
      <br>
      <p class="title">
        Invite Cactie Dev!
      </p>
      <br>
      <p class="subtitle">
        The secondary latest Cactie Bot
      </p>
      <br>
      <a class="button is-info" href="https://cactiedev.smhsmh.club/invite/discord">Discord Invite</a>
      <a class="button is-info" href="https://cactiedev.smhsmh.club/invite/guilded">Guilded Invite</a>
    </div>
  </div>
</section>

<%- include("partials/footer") %>