<%- include("partials/header", { bot, user, path, title: "Cactie Music Player" }) %>

<div class="item">
  <h1>Playing Now</h1>
  <br>
  <h4 id="vcname">#Voice Channel</h4>  
</div>

<div class="musiccontainer">
  <div class="item musicsegment">
    <div class="item">
      <img src="/assets/images/musicplaceholder.png" width="55%" id="cover">
    </div>
  </div>
  <div class="item musicsegment">
    <div class="item">
      <h1 id="title">Music Title</h1>
      <br>
      <h4 id="author">Music Author</h4>
      <br>
      <div class="centered disabled" id="progresscontainer">
        <h5 id="pos" style="padding:15px; margin:0;">0:00</h5>
          <input type="range" disabled id="progress" oninput="progress(event);" value="0" style="width: 50%;">
        <h5 id="total" style="padding:15px; margin:0;">0:00</h5>
      </div>
      <div class="centered">
        <a href="/music/filters" class="mediacontrols" id="filters"><img src="/assets/icons/sliders.svg"></a>
        <a href="javascript:shuffle();" class="mediacontrols disabled" id="shuffle"><img src="/assets/icons/shuffle.svg"></a>
        <a href="javascript:toggleplay();" class="mediacontrols disabled" id="playbtn"><img id="play" src="/assets/icons/play.svg"></a>
        <a href="javascript:skip();" class="mediacontrols disabled" id="skip"><img src="/assets/icons/skip-forward.svg"></a>
      </div>      
      <div class="centered disabled" id="volumecontainer">
        <img style="padding:15px; margin:0;" src="/assets/icons/volume-x.svg">
          <input type="range" disabled id="volume" oninput="vol(event);" style="width:40%;" max=1000>
        <img style="padding:15px; margin:0;" src="/assets/icons/volume-2.svg">
      </div>
      <h5 class="centered disabled" id="dj">Users without the DJ role have limited access.</h5>
    </div>
  </div>
</div>

<script>
</script>

<%- include("partials/footer") %>